form {
    display: grid;
    justify-items: center;
    gap: 20px;

    height: fit-content;

    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

form p {
    margin: 0;
}

.login-form {
    width: 560px;
    padding: 36px 0;
    text-align: center;

    box-sizing: border-box;
    border: 3px solid #252626;
    border-radius: 10px;
}

.login-form input {
    width: -webkit-fill-available;
    padding: 15px;
    margin: 15px 100px;
    background: #232223;
    border-radius: 10px;
}