<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiZaWra</title>
    <meta charset="UTF-8">

    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{../fragment/navbar :: navbar}"></nav>
    <div class="home">
        <div class="user-bar">
            <img height="128px" width="128px" src="/images/profile.jpg">
            <div class="user-info">
                <h2 th:text="${client.getFirstName() + ' ' + client.getLastName()}"></h2>
                <p th:text="#{home.defaultDescription}" class="color-grey"></p>
            </div>
            <span class="link">33 posts</span>
            <a class="link" href="/about">about <div class="mizawra">MIZAWRA</div></a>
        </div>
        <h1 th:text="#{home.h1}"></h1>
        <div class="menu">
            <a href="/promptedJournal" style="background: #3A6BA4;" th:text="#{home.promptedJournal}"></a>
            <a href="/write" style="background: #3AA451;" th:text="#{home.freeJournal}"></a>
            <a href="/story" style="background: #8062FF;" th:text="#{home.story}"></a>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">Jorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio...</p>
                <p class="color-grey">date</p>
            </div>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">description</p>
                <p class="color-grey">date</p>
            </div>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">description</p>
                <p class="color-grey">date</p>
            </div>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">description</p>
                <p class="color-grey">date</p>
            </div>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">description</p>
                <p class="color-grey">date</p>
            </div>
            <div class="journal">
                <p class="journal-header">header</p>
                <p class="text">description</p>
                <p class="color-grey">date</p>
            </div>
        </div>
    </div>
</body>
</html>