<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiZaWra</title>
    <meta charset="UTF-8">

    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{../fragment/navbar :: navbar}"></nav>
    <div>
        <div class="user-bar">
            <img src="/images/profile.svg">
            <div class="user-info">
                <p th:text="${client.getFirstName() + ' ' + client.getLastName()}"></p>
                <p class="description">*Question*: What should I write here? </p>
            </div>
            <span class="link">33 posts</span>
            <a class="link" href="/about">about MIZAWRA</a>
        </div>
    </div>
</body>
</html>