<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MiZaWra</title>

        <link href="/css/global.css" rel="stylesheet"/>
        <link href="/css/login.css" rel="stylesheet"/>
    </head>
    <body>
        <nav th:replace="~{../fragment/navbar :: navbar}"></nav>
        <form class="register" action="register" th:object="${client}" method="post">
            <div class="login-form">
                <h1>Registration</h1>
                <input type="text" id="firstName" name="firstName" placeholder="First name"><br>
                <input type="text" id="lastName" name="lastName" placeholder="Last name"><br>
                <input type="email" id="email" name="email" placeholder="E-mail"><br>
                <input type="password" id="password" name="password" placeholder="Password"><br><br>
            </div>

            <input class="button" name="submit" type="submit" value="Create an account" />
            <p>Already have an account? <a href="/register">Login</a></p>
        </form>
    </body>
</html>