<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiZaWra</title>
    <meta charset="UTF-8">

    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/writing.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{../fragment/navbar :: navbar}"></nav>
    <div class="container">
        <div>
            <h1>...time to write...</h1>
            <div class="time-container">
                <h1>14:53</h1>
                <p>click to pause/start</p>
            </div>
        </div>
        <div>
            <p>your prompt</p>
            <h3>What can you hope for?</h3>
        </div>
    </div>
</body>
</html>